# requirements.txt

torch # This version should match the xFormers requirement
xformers  # Add the version if needed, ensuring compatibility with PyTorch and Python versions
torchaudio
torchvision
gdown==4.7.1
huggingface-hub
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
transformers
triton
pytube==15.0.0
onnxruntime